torch==2.6.0
torchvision
transformers
accelerate
diffusers

numpy
pandas
ninja
hpsv2x
pillow

tqdm
wandb

peft
bitsandbytes
uvicorn

huggingface-hub
tokenizers

einops
nvidia-ml-py
xformers
absl-py
ml_collections
sentencepiece

tensorboard

